@model WebUI.Models.Account.LoginViewModel
@{
    Layout = "_Layout";
}
<div class="container">

    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="form">
        <a asp-action="Register" asp-controller="Account">Регистрация</a>

        <h2 class="form-signin-heading">Вход на сайт</h2>

        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            <div class="">
                <label asp-for="Login">Введите логин</label>
                <input type="text" asp-for="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>            
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
</div>