@model WebUI.Models.Account.RegisterViewModel
@{
    Layout = "_AccountLayout";
}
<div class="acc-container">
    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="acc-form">
        <h2>Регистрация</h2>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="acc-form-row">
            <label asp-for="Login" class="acc-form-label">Введите логин</label>
            <input type="text" asp-for="Login" class="acc-form-row-input" />
            <span asp-validation-for="Login" />
        </div>
        <div class="acc-form-row">
            <label asp-for="Password" class="acc-form-label">Введите пароль</label>
            <input asp-for="Password" class="acc-form-row-input" />
            <span asp-validation-for="Password" />
        </div>
        <div class="acc-form-row">
            <label asp-for="ConfirmPassword" class="acc-form-label">Повторите пароль</label>
            <input asp-for="ConfirmPassword" class="acc-form-row-input" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="acc-btn-container-center">
            <input class="acc-btn" type="submit" value="Регистрация" />
        </div>
    </form>
</div>