<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/main-icon.ico" />
    <link href='@Url.Content("~/bundles/css/main.min.css")' rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>
