<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/bundles/css/main.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/bootstrap/js/bootstrap.min.js")'></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
